.footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
}

.footer h4 {
    font-size: 20px;
}

.footer p {
    font-size: 16px;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: none;
    color: rgb(134, 134, 137);
}

.social-icons {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-decoration: none;
}

.social-icons li {
    display: inline-block;
    margin-right: 15px;
}

.social-icons a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

/* .social-icons a:hover {
    color: rgb(215, 144, 14);
} */
#fac:hover{
    color: #1e60db;
    /* outline: auto; */
}
#ins:hover{
    color: rgb(235, 51, 223);
    /* outline: auto; */
}
#twi:hover{
    color: #01b0f8;
    /* outline: auto; */
}
#lin:hover{
    color: rgb(246, 244, 244);
    background-color: rgb(16, 77, 233);
    border: none;
    /* border-radius: 8px; */
    /* outline: auto; */
}


#git:hover{
    color: rgb(32, 31, 31);
    /* outline: auto; */
    
}
                                                  
.company-logo {
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Remove any default inline styles */
    margin-bottom: 20px; /* Add spacing below the logo */
    /* Add other styles as needed, such as margin, padding, etc. */
}

.company-logo:hover {
    animation: shiver 0.2s ease-in-out alternate;
}

@keyframes shiver {
    0% {
        transform: translateX(-2px);
    }
    25% {
        transform: translateX(2px);
    }
    50% {
        transform: translateX(-2px);
    }
    75% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(-2px);
    }
}