.footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
}

.footer h4 {
    font-size: 20px;
}

.footer p {
    font-size: 16px;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
    color: rgb(54, 54, 239);
}

.social-icons {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-decoration: none;
}

.social-icons li {
    display: inline-block;
    margin-right: 15px;
}

.social-icons a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.social-icons a:hover {
    color: rgb(32, 32, 242);
}

.company-logo {
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Remove any default inline styles */
    margin-bottom: 20px; /* Add spacing below the logo */
    /* Add other styles as needed, such as margin, padding, etc. */
}