

#section4container{
  background-image: url('/images2/rm222batch2-mind-03.jpg');
  background-size: contain; 

  margin-top: 2pc;
}


.wave-top {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
}

/* @import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap"); */

body {
  background-color: #f4f4f4;

  /* font-family: "Play", sans-serif; */
}

.container {
  width: 100%;
}

.packages {
  margin: 20px;
  width: 300px;
  padding-bottom: 1.5em;
  height: 100%;
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 19px 38px rgb(212, 214, 213), 0 15px 12px rgba(30, 35, 33, 0.2);
  flex-wrap: wrap;
  color: #080808;
}

h1,
h2 {
  font-size: 2.2em;
}

.list li {
  font-size: 20px;
  list-style: none;
  border-bottom: 1px solid #f4f4f4;
  padding-inline-start: 0;
  border-width: 1px;
  padding: 10px;
}

.first {
  margin-top: 10px;
  border-top: 1px solid #f4f4f4;
}

.list {
  width: 80%;
}

ol,
ul {
  padding: 0;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
label {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0;
}

.button {
  padding: 27px 50px;
  text-decoration: none;
  font-size: 1.4em;
  margin: 15px 15px;
  border-radius: 8px;
  color: #f4f4f4;
  transition: all 0.3s ease 0s;
}

.button:hover {
  transform: scale(1);
  text-decoration: none;
}

.button1 {
  /* width: 200px; */
  background-color: #50a2f4;
  font-weight: 600;
  /* vertical-align: middle !important; */
  padding-top: 14px;
  height: 50px;
  /* box-shadow: 0 0 10px 0 #8fb2a9 inset, 0 0 20px 2px #dcdada; */
}

.button2 {
  background-color: #50a2f4;
  font-weight: 600;
  height: 50px;
  /* vertical-align: middle !important; */
  padding-top: 14px;
  /* box-shadow: 0 0 10px 0 #9e7f8e inset, 0 0 20px 2px #dcdada; */
}

.button3 {
  background-color: #50a2f4;
  /* vertical-align: middle !important; */
  padding-top: 14px;
  height: 50px;
  font-weight: 600;
  /* box-shadow: 0 0 6px 0 #a79883 inset, 0 0 20px 2px #dcdada; */
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1e2321;
  -webkit-transition: 0.4s;

  box-shadow: 2px 6px 25px #1e2321;
  transform: translate(0px, 0px);
  transition: 0.6s ease transform, 0.6s box-shadow;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #50bfe6;
}

input:focus + .slider {
  box-shadow: 0 0 1px #50bfe6;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.package-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.list{
  /* font-size: 6px !important; */
  font-weight: 600;
}
.first img{
  width: 18px;
  height: 20px;
  /* text-align: left !important; */
  float: left;
  margin-right: -1pc;
}
.packhead{
  background: linear-gradient(to right, #2da30d, #0c88e7);
  width: 100%;
  color: white;
  padding-top: 18px;
  padding-bottom: 18px;
}
