/* Navbar Styles */
.navbar {

    /* background-color: #58a0e7;  */
    transition: background-color 0.5s ease;
    /* background-image: url(./images/green-palm-leaf-border-isolated-transparent-background_176503-1456.avif); */
    background-color: rgb(239, 235, 235 )!important;
    /* background: linear-gradient(to right, #5eb545, #07a5e2, #1368aa); */
   color: #fff;
    /* padding-right: 12px; */
    /* padding-left: 50px !important; */
    position: fixed;
    top: -2px;
    width: 100%;
    transition: background-color 0.3s;
    z-index: 1000;
    height: 73px;
    /* padding-left: -12px; */
    /* margin-left: -12px; */
    
}
#navbarNav{
  background-color: rgb(239, 235, 235 )!important;
}
.carousel-item{
  text-align: right !important;
  align-items: center;
  /* margin-left: 12pc; */
}

.navbar a.nav-link {
    color: #f11e1e; /* Navbar link color */
}

.navbar a.nav-link:hover {
    color: #007BFF; /* Navbar link color on hover */
}
.nav-item a{
  color: #f11e1e;
}
.nav-item{
  background-color: rgb(239, 235, 235 )!important;
}

/* Initial styles for the container */
/* Initial styles for the container */
#image {
  width: auto;
  height: auto;
  overflow: hidden;
  border-radius: 7px;
 
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
  transition: transform 0.3s ease-in-out, 
  /* box-shadow 0.3s ease-in-out; */
  /* margin: 20px; */
}

/* Initial styles for the image */
#image img {
  width: auto;
  height: 100%;
  object-fit:fill;
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
  /* padding: 20px; */
  /* padding-top: -200px; */
  
}



/* Hover styles for the image */
/* #image:hover img {
  transform: scale(1.1) rotate(0deg); /* Bulge-out effect with opposite rotation */
